.control-label{
	font-size: 1.2em;
	position: relative;
	top: 5px;

}


div, section, header, aside, footer {
	padding: 2px;
}

.form-control{
	position: relative;
	top: -1.5px;
	
}

h1, h3{
	text-align: center;
}

table{
	margin-right: auto;
	margin-left: auto;
	vertical-align:middle;
}