body, header nav{
	min-width: 370px;
}


/* 상단 네비바 css */
@media (max-width: 768px){	
	header {
		margin-bottom: 81px;
	}
	form#navSearchFrm{
		max-width: 100%;
	}
	ul.nav-button>li>a{
		display: inline;
	}
}

@media (max-width: 600px){
	p.book_content{
		visibility: hidden;
		height: 0px;
	}
}

@media (min-width: 768px){
	header{
		margin-bottom: 120px;
	}
	form#navSearchFrm{
		max-width: 400px;
	}
	.navbar>.container-fluid .navbar-brand{
		margin-left: 15px;
	}
	
}
ul.nav-button>li{
		display: inline;
	}
	
form#navSearchFrm {
	padding-left: 5px;
	padding-right: 0px;
}

header nav.navbar {
	height: 80px;
	padding-top: 13px;
}

header nav.navbar div div.navbar-collapse {
	background-color: #f8f8f8;
}

nav div:first-child{
	padding: 0px;
}

div#navbar-collapse-1{
	padding: 0px 15px 0px 15px;
}

div#navbar-collapse-1 div.row ul.nav{
	padding: 0px 15px 0px 20px;
}

nav div div.row{
	margin: 0px;
	padding: 0px 15px 0px 15px;
}

div.navbar-header a.navbar-brand{
	margin-left: 15px;
}

/* 검색 결과 창 css */

h4.book_info{
	margin: auto;
}

h4.book_info a, p.book_info a {
	color: black;
	text-decoration: none;
}

p.book_info a {
	margin-right: 5px;
}

p.book_info.book_price{
	display: inline;
}

p#book_price{
	color: #1f8ce6;
}

.order-buttons {
	margin-left: 20px;
}

.order-buttons li {
	padding: 0px;
}

.order-buttons li a {
	text-decoration: none;
	color: black;
	padding-left: 8px;
	border-left: 1px solid gray;
}

.category_title {
	border-bottom: 1px solid black;
	color: black;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
}

#category ul {
	list-style: none;
	padding: 0;
}

#category li {
	border-bottom: 1px dashed #e1e1e1;
	/* line-height: 45px; */
	text-align: left;
}

#category li span {
	float: right;
}

#category li a {
	color: #333;
	/* font-size: 14px;
            font-weight: 400; */
}

div#category ul.list-group li.list-group-item.disabled{
	background-color: #ebf6ff;
	color: #005499;
}

div#category ul.list-group li.list-group-item a{
	display: block;
	text-decoration: none;
}

div.book-result {
	border-bottom: 1px solid gray;
	margin-top: 15px;
}

div.author-info ul{
	padding-top: 10px;
	padding-left: 0px;
}

div.author-info ul li{
	list-style: none;
	font-size: 14px;
}

div.author-info ul li a{
	display: block;
	font-size: 14px;
	text-decoration: none;
	padding: 12px 10px;
	color: #666;
}

div.author-info ul li a:hover{
	color: #1f8ce6;
}

div.author-info ul li a:hover span.user-icon{
	color: #1f8ce6;
}

div.author-info ul li span.user-icon{
	color: #c4d1de;
	padding-right: 3px;
}

div.author-result button#more-btn{
	border: none;
	background: none;
	color: #7d8e9e;
	margin-left: 20px;
	display: block;
	width: 100%;
	text-align: left;
	outline: none;
}

div.author-result button#more-btn:hover{
	color: #1f8ce6;
}