
  
    .col-sm-2 ol{
        color: black;

    }
    .col-sm-2 ol a li{
        color: black;

    }
   
    .col-sm-9 text{
       text-align: center;
      

    }
    .col-sm-2>ol{
        list-style-type: disc;
            color: black;
    }
    #a  li{
        color: black;
    }
    #a1{
        list-style-type: disc;
            color: black;
    }
    #a2{
        list-style-type: disc;
            color: black;
    }
 
    div.QAtitle, {       
        color: black;  
    }
    #QAtitle2 a{
      
        color: black;
       
        height: 200px;
    }
 
    .notice a{
        color: black;
    }
  .text{
      text-align: center;
      width: 300px;
      padding-left: 100px;
  }

  #n-surve{
      background-color: antiquewhite;
  }
  .surve-tag{
      background-color: darkgray;
      border: 1px solid azure
  }
