@charset "UTF-8";
    <style>
 div{
            text-align: center;
        }
    div.sidemenu col-lg-2 ol{
        color: black;

    }
    div.sidemenu .col-lg-2 ol a{
        color: black;

    }
    #QA{
        text-align:left;
        color: black;
    }
    .col-lg-9 text{
       text-align: center;
      

    }
    .col-lg-2>ol{
        list-style-type: disc;
            color: black;
    }
    #a  li{
        color: black;
    }
    #a1{
        list-style-type: disc;
            color: black;
    }
    #a2{
        list-style-type: disc;
            color: black;
    }
 
    .QAtitle, .QAtitle a{       
        color: black;  
    }
    #QAtitle2 a{
      
        color: black;
       
        height: 200px;
    }
    .col-xs-12{
        text-align: center;
        background-color: darkgray;
    }
    #notice a{
        color: black;
    }
  .text{
      text-align: center;
      width: 300px;
      padding-left: 100px;
  }

  #n-surve{
      background-color: antiquewhite;
  }
  .surve-tag{
      background-color: lightgray;
      border: 1px solid azure
  }
.sidemenu{
  	padding : 10px;
  
  }
   .title,.default{
      float: left;
  }
  .title{
      margin: 0px 30px 20px 100px;
  }
  .Notice_List{
  color: black;
  }
  #n1,#d1{
      float: left;
  }
  #n1{
    margin: 0px 20px 20px 50px;
  }
    #n1,#d1{
      float: left;
  }
    </style>