@charset "UTF-8";

/* 1:1 문의내역  */
li {
	list-style: none;
}

.cs_title {
	text-align: center;
	padding: 0 0 25px 0;
}

.bWrap {
	border: solid 1px #ebebeb;
	border-top-color: rgb(235, 235, 235);
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: #d8d8d8;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: #d8d8d8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(235, 235, 235);
	border-left-style: solid;
	border-left-width: 1px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-bottom-color: #d8d8d8;
	border-right-color: #d8d8d8;
	background-color: #fff;
	/* padding: 15px 0 0 23px; */
	height: 50px;
	display: block;
	text-align: left;
}

.csInfo {
	padding: 0 0 0 280px;
}

li {
	padding: 0 0 13px;
	20
	px;
}

ul {
	display: block;
	list-style-type: disc;
	padding-inline-start: 40px;
}

.csCenter {
	float: right;
	margin-right: 60px;
	padding: 25px 0;
	width: 660px;
	text-align: left;
}

em {
	font-size: 17px;
}

#pager {
	text-align: center;
}

span :hover {
	background-color: yellow;
}

/* 1:1 문의 등록  */

/* 상담 선택 그룹*/
.select_area {
	margin: 7px 0 20px;
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding: 16px 19px;
	padding-top: 16px;
	padding-right: 19px;
	padding-bottom: 16px;
	padding-left: 19px;
	background: #f6f6f6;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(246, 246, 246);
	border: 1px solid #e9e9e9;
	border-top-color: rgb(233, 233, 233);
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: rgb(233, 233, 233);
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: rgb(233, 233, 233);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(233, 233, 233);
	border-left-style: solid;
	border-left-width: 1px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	line-height: 24px;
	color: #555;
}